/* .App {
  text-align: center;
} */

.maxwidth{
  width: 100%;
}

.contentwidth{
  max-width: 960px;
}

p{
  font-size: small;
}

span{
  font-size: small;
}

/* Start Header  */


.nav {
  display: flex;
  align-items: flex-end;
  height: 90px;
  
}
   /* End Header  */


   /* Start Dish */

.Content{
background-color: rgb(243, 243, 243);
}

/* .dishText{
  margin: 0px 1px
} */

.menuItem{
  margin-top: 10px;
}

.dish{
  background-color: white;
  /* width: 170px; */
  
  border: 1px solid rgb(224, 224, 224);
  transition-duration: 0.3s;
}

.dish:hover{
  border: 1px solid rgb(179, 179, 179);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.dishLink:hover{
  text-decoration:none;

}

.dishName{
  font-weight: 500;
}

.dishPrice{
  font-weight: 500;
  width: 70%;
}

.picImg{
  position: relative;
  width: 100%;
  height: auto;
}

.picText{
  color: black;
  font-weight: 500;
  font-size: medium;
}

.picText:hover{
  color: black;
}


.del{
  background-color: rgb(243, 243, 243);
  color:#ac0000;
  border:none;

  /* float:right; */
}

.addDish{
  background-color: rgb(243, 243, 243);
  
  color:#00ac17;

  border:none;

}

.addDish.hover{
  

  color:#005c0c;

  border:1px solid rgb(31, 17, 17);
  
} 

.minusDish{
  background-color: rgb(243, 243, 243);
  color:#ac0000;
  border:none;

}

/* End Dish */

/* Start Order */
.orderUl{
  list-style-type: none;
}
/* End Order */

/********** Large devices only **********/

@media (min-width: 961px) {

  .dish{
    width: 155px;
    
  }

  .rightCol{
    margin-top: 15px;
    border-left: 2px solid rgb(24, 23, 23);

  }


}


/********** Medium devices only **********/
@media (max-width: 960px) and ( min-width: 720px) {

  .dish{
   width: 145px;

  }

  .rightCol{
    margin-top: 15px;
    border-left: 2px solid rgb(24, 23, 23);

  }


}

/********** Small devices only **********/
@media (max-width: 719px)and ( min-width: 576px) {

  .dish{
    width: 120px;

  }

  .rightCol{
    margin-top: 15px;
    border-top: 2px solid rgb(24, 23, 23);

  }



}

/********** Extra small devices only **********/
@media (max-width: 575px)and ( min-width: 340px) {

  .dish{
     width: 135px;

  }

  .rightCol{
    margin-top: 15px;
    border-top: 2px solid rgb(24, 23, 23);

  }



}

/**********  Extra Extra small devices only **********/
@media (max-width: 339px){

  .dish{
     width: 105px;

  }

  .rightCol{
    margin-top: 15px;
    border-top: 2px solid rgb(24, 23, 23);

  }


}


/* Start Header */
.NavLink{
  width: 150px;
}

/* .LogoElement{
  position: absolute;
} */

/* End Header  */


/* Start Footer */

   
   
/* End Footer */


/* Start Contact Us */
.contactus{
  max-width: 960px;
}

.hours{
  background-color: rgb(243, 243, 243);
}

/* Start Order Info */

.validateNote{
  color: red;
  font-size: small;
  line-height:100%;
}

.textArea{
  resize: none;
}

.theForm{
  border:1px solid rgb(0, 0, 0);

}
/* Start Order Info */
